<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-info text-white shadow-sm">
  <a class="navbar-brand" [routerLink]="['/home']">BookStore</a>
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto text-white">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/books']">Books</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/category']">Category</a></li>
    </ul>
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="btn dropdown-toggle" dropdownToggle>
        Welcome {{authService.decodedToken.unique_name | titlecase}} !
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"> <i class="fa fa-sign-out"> </i> Logout </a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="loginForm form-inline" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="text" placeholder="Password" name="password" required [(ngModel)]="model.password" >
      <button class="btn my-2 my-sm-0 text-white" type="submit" [disabled] = "!loginForm.valid">Login</button>
    </form>
  </nav>