
<div *ngIf="editForm.dirty" class="alert alert-info">
  <strong>Information: </strong>You have made changes. Any unsaved changes will be lost!
</div>
<form #editForm="ngForm" (ngSubmit)="updateBook()" value="">
  <div class="row mb-2">
  <h6 class="col-sm-2" >Title: </h6>
  <input class="form-control col-sm-5" name="title" id="" cols="30" rows="10" [(ngModel)]="book.title"/>
</div>
<div class="row mb-2">
  <h6 class="col-sm-2">Author: </h6>
  <input class="form-control col-sm-5" name="author" id="" cols="30" rows="10" [(ngModel)]="book.author"/>
</div>
<div class="row mb-2">
  <h6 class="col-sm-2">Publication date: </h6>
  <input class="form-control col-sm-5" name="publishedDate" id="" cols="30" rows="10" [(ngModel)]="book.publishedDate" />
</div>
<div class="row mb-2">
  <h6 class="col-sm-2">ISBN: </h6>
  <input class="form-control col-sm-5" name="isbn" id="" cols="30" rows="10" [(ngModel)]="book.isbn"/>
</div>
<div class="row mb-2">
  <h6 class="col-sm-2">Price: $ </h6>
  <input class="form-control col-sm-5" name="price" id="" cols="30" rows="10" [(ngModel)]="book.price"/>
</div>
<div class="row mb-2">
  <h6 class="col-sm-2">Category: </h6>
  <input class="form-control col-sm-5" name="category" id="" cols="30" rows="10" [(ngModel)]="book.categoryName"/>
</div>
<div>
  <button [disabled]="!editForm.dirty" class="btn btn-info mx-auto d-block mt-3">Save changes</button>
</div>

</form>