.card:hover img{
    transform: scale(1.2, 1.2);
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity:0.5;
    }
.card img{
    transform: scale(1.0, 1.0);
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    height:200px;
}
.card-img-wrapper{
    overflow: hidden;
    position: relative;
}
.icon{
    position: absolute;
    bottom: -50%;
    left:35%;
    right:25%;
    opacity:0;
}
.btn{
    border-radius: 50%;
}
.card-img-wrapper:hover .icon{
    bottom: 40%;
    opacity: 1;
}
.animate{
    transition: all 0.5s ease-in-out;
}
